---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.layout == "project" %}
    <article class="post">

      <img src="/images/{{ post.gif }}" alt="HTML5 Icon" style="width:180px;height:180px;float:left;margin-right:2em;">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> </h3>
      <i>{{ post.conference}}</i>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Web</a> &nbsp;/&nbsp;
      <a href="{{ post.code }}" class="read-more">Code</a> &nbsp;/&nbsp;&nbsp;
      <a href="{{ post.paper }}" class="read-more">Paper</a>
    </article>
    {% endif %}
  {% endfor %}
</div>