---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.layout == "project" %}
      <article class="post">

        <img src="/images/{{ post.gif }}" alt="HTML5 Icon" style="width:180px;height:180px;float:left;margin-right:2em;">

        <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a> <br> {{ post.conference}} </p>
        <auth>{{ post.authors }} </auth>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Web</a> &nbsp;/&nbsp;
        {% if post.code contains "http" %}
        <a href="{{ post.code }}" class="read-more">Code</a> &nbsp;/&nbsp;&nbsp;
        {% else %}
        Code &nbsp;/&nbsp;&nbsp;
        {% endif %}
        {% if post.paper contains "arxiv" %}
        <a href="{{ post.paper }}" class="read-more">arXiv</a>
        {% else if post.paper contains "http" %}
        Paper
        {% else %}
        <a href="{{ post.paper }}" class="read-more">Paper</a>
        {% endif %}
      </article>

    {% elsif post.layout == "projectlink" %}
      <article class="post">

        <img src="/images/{{ post.gif }}" alt="HTML5 Icon" style="width:180px;height:180px;float:left;margin-right:2em;">

        <p><a href="{{ post.link }}">{{ post.title }} </a> <br> {{ post.conference}} </p>
        <auth>{{ post.authors }} </auth>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ post.link }}" class="read-more">Web</a> &nbsp;/&nbsp;
        {% if post.code contains "http" %}
        <a href="{{ post.code }}" class="read-more">Code</a> &nbsp;/&nbsp;&nbsp;
        {% else %}
        Code &nbsp;/&nbsp;&nbsp;
        {% endif %}
        {% if post.paper contains "arxiv" %}
        <a href="{{ post.paper }}" class="read-more">arXiv</a>
        {% else if post.paper contains "http" %}
        Paper
        {% else %}
        <a href="{{ post.paper }}" class="read-more">Paper</a>
        {% endif %}
      </article>
    {% endif %}
  {% endfor %}
</div>